{% extends 'base.html' %}
{% block title %}
    Blog John Gualteros
{% endblock %}
{% block content %}
    <div class="row vh-100 px-5">
        <div class="p-5">
            <h1 class="text-dark display-1 fw-bold mt-5">Welcome to my blog</h1>
            <h1 class="text-dark display-1 fw-bold mt-2">Architecture <span class="text-primary">Ja/Py</span></h1>
            <h5 class="text-secondary fs-1 fw-bold mt-5">Hi i am <span class="text-primary">John Gualteros</span> Full Stack Developer</h5>
        </div>
    </div>
    <div class="row px-5">
        <h1 class="text-primary display-1 fw-bold text-center">
            Another Of My Projects
        </h1>
        <div class="row d-flex justify-content-center py-5" id="card-container">

        </div>
    </div>
    <div class="row p-5">
        <h1 class="text-center display-1 fw-bold text-primary mt-5">Contact Me</h1>
        <a href="mailto:gualterosjohn40@gmail.com" class="btn bg-primary bg-opacity-10 border border-primary rounded shadow fw-bold btn-lg
        fs-1 text-dark py-5 mt-5">Send Me a Email!</a>
    </div>
{% endblock %}