<nav class="navbar navbar-dark navbar-expand-lg bg-primary shadow  fw-bold position-fixed w-100">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Architecture <span class="text-dark">Ja/Py</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Java
              </a>
              <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-primary fw-bold" href="#">For Each</a></li>
                <li><a class="dropdown-item text-primary fw-bold" href="#">Map</a></li>
                <li><a class="dropdown-item text-primary fw-bold" href="#">Filter</a></li>
                <li><a class="dropdown-item text-primary fw-bold" href="#">Reduce</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Python
              </a>
              <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-primary fw-bold" href="#">Append</a></li>
                <li><a class="dropdown-item text-primary fw-bold" href="#">Split</a></li>
                <li><a class="dropdown-item text-primary fw-bold" href="#">Sort</a></li>
                <li><a class="dropdown-item text-primary fw-bold" href="#">Replace</a></li>
              </ul>
            </li>
            <a class="nav-link" href="#">Algorithms</a>
        </div>
      </div>
    </div>
</nav>